<div class="container">
    <div>
    <h2>Modifier un Joueur :</h2>
    </div>
    <form >
    <div hidden  class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Joueur</label>
    <input  readonly type="text" [(ngModel)]="currentJoueur.idJoueur"
    name="idJoueur" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Joueur</label>
    <input type="text"[(ngModel)]= "currentJoueur.nomJoueur"
    name="nomJoueur" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prenom Joueur</label>
    <input type="text" [(ngModel)]= "currentJoueur.prenomJoueur"
    name="prenomJoueur" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date Naissance</label>
    <input type="date" [ngModel]="currentJoueur.dateNaissance | date: 'yyyy-MM-dd'"
    (ngModelChange)=" currentJoueur.dateNaissance= $event" name="dateNaissance"
     class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <select class="form-control form-control-lg" id="idEq" name="idEq"
        [(ngModel)]="updatedEqId">
        <option *ngFor="let cat of equipes" [value]="cat.idEq" >
        {{cat.nomEq}}
        </option>
        </select>
        </div>
        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)" class="form-control">
            </div>
            <div class="mt-2">
                <button type="submit" (click)="onAddImageJoueur()" class="btn
                btn-success">Ajouter Image</button>
                </div>
        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
        </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let img of currentJoueur.images">
                            <tr>
                                <td><img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                                        style="height :50px;width:100px"></td>
                                        <td style="width:20%" ><a class="btn btn-danger"
                                            (click)="supprimerImage(img)">Supprimer</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    <div class="mt-2">
    <button type="submit" (click)="updateJoueur()" class="btn btn-success">Modifer</button>
    </div>
    </form>
    </div>
    