<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Mot de passe</th>  </tr>
    <tbody *ngFor="let user of users">
    <tr >
    <td>{{user.user_id}}</td>
    <td>{{user.username}}</td>
    
    <td><a class="btn btn-danger"  (click)="supprimerUser(user)">Supprimer</a></td>
    <td ><a class="btn btn-success"  [routerLink]="['/updateuser',user.user_id]">Modifier</a></td>
    
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    