<div class="container">
    <div>
    <h2>Ajouter un Joueur :</h2>
    </div>
    <form >
        <div  hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Joueur</label>
        <input type="text" [(ngModel)]="newJoueur.idJoueur"
        name="idJoueur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Joueur</label>
        <input type="text"[(ngModel)]= "newJoueur.nomJoueur"
        name="nomJoueur" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prenom Joueur</label>
        <input type="text" [(ngModel)]= "newJoueur.prenomJoueur"
        name="prenomJoueur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date eNaissance</label>
        <input type="date" [(ngModel)]= "newJoueur.dateNaissance"
        name="dateNaissance" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Equipe</label>
            <select class="form-control form-control-lg" id="idEq" name="idEq"
            [(ngModel)]="newIdEq">
             <option *ngFor="let e of equipes" [value]="e.idEq" >
             {{e.nomEq}}
            </option>
            </select>
            </div>
            
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <label class="mb-2">Image :</label>
                    <input type="file" (change)="onImageUpload($event)"
                    name="logo" class="form-control">
                    </div>
                    <div class="col-sm-16 col-md-16 col-lg-16">
                        <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                        style="width: 500px; height: 300px" />
                        </div>
        <div class="mt-2">
        <button type="submit" (click)="addJoueur()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>